.App {
  max-width: 1920px;
}

.post--list__comment--list {
  margin-top: 10px;
  display: block;
  background: rgba(0, 37, 247, 0.123);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  padding: 20px;
  transition: all 0.5s ease;
}
.post--list__comment--list-none {
  display: none;
}
.post--list__list {
  list-style: none;
}
.post--list {
  margin: 0 auto;
  max-width: 50em;
  
}
.post--list__title {
  text-align: center;
  color: rgb(15, 15, 66);
}
.post--list__post {
  border: 1px solid rgba(162, 238, 215, 0.815);
  padding: 8px;
  margin-bottom: 10px;
}
