.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.post--list__comment--list {
  margin-top: 10px;
  display: block;
  background: rgba(0, 37, 247, 0.123);
  border-radius: 10px;
  padding: 20px;
}
.post--list__comment {
  border-bottom: 1px solid white;
}
.post--list__comment--list-none {
  display: none;
}
.post--list__list {
  list-style: none;
}
.post--list {
  max-width: 60em;
 
}
.post--list__title {
  text-align: center;
  color: rgb(15, 15, 66);
}
.post--list__post {
  border-bottom: 1px solid rgba(162, 238, 215, 0.815);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
}
.post--list__post--title {
  text-transform: uppercase;
  color: rgb(78, 43, 29);
  text-align: center;
}
.post--list__comment--email {
  margin-bottom: 20px;
}
.post--list__comment--email-link {
  text-decoration: none;
}

.post--list__user {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.post--list__post-btn {
  background-color: rgba(71, 255, 246, 0.562);
  border: none;
  padding: 5px 3px;
  cursor: pointer;
  align-self: flex-end;
 
  
}

.post--list__btn-loaded {
  height: 100px;
  width: 200px;
  border: none;
  cursor: pointer;
  background-color: tomato;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.5s ease;
  margin-top: 1.5em;
}

.post--list__btn-loaded:hover {
  transform: scale(1.2, 1.2);
  background-color: rgba(255, 99, 71, 0.658);
}